.assembly {
	padding: 15px;
	width: 100%;

	.assembly-glmol {
		width: 100%;
		display: inline-block;
		margin-bottom: 5px;
	}

	.link {
		color: #0066cc;
		cursor: pointer;
		&:hover {
			color: #23527c;
			text-decoration: underline;
		}

		&.expand-link {
			font-weight: normal;
			font-style: italic;
		}
	}

	.page-header {
		padding: 0px;
	    color: #0066cc;
	    font-size: 20px;
	    font-family: Verdana-Bold;
	    line-height: 25px;
	    margin-top: 0;
	    margin-bottom: 10px;
	    border-bottom: 3px solid #0066cc;
	}

	.blue {
		color: blue;
	}
	.red {
		color: red;
	}
	.lightgreen {
		color: #33cc33;
	}
	.grey {
		color: #A3A3A3;
	}
	.bold {
		font-weight: bolder;
		font-family: Verdana-Bold;
	}

	.legend {
		>.legend-title {
			font-weight: bold;
			margin: 5px;
		}
		>ul {
			list-style-type: none;
			padding-left: 15px;
		}
	}

	.info-table{
		width: 49%;

		&.full{
			width: 100%;
		}

		&.right {
			float: right;
		}
		&.left {
			float: left;
		}
		.mono {
			font-family: monospace;
			font-size: 13px;
		}

		@media print {
			width: 45%;
		}

		table{
			display: table;
    		border-collapse: separate;
    		font-size: 12px;
			width: 100%;
		    margin-top: 20px;
		    margin-bottom: 20px;
		    vertical-align: top;
		    border-left: 1px solid #ddd;
			border-top: 1px solid #ddd;

		    tbody{
		        display: table-row-group;
    			vertical-align: middle;
    			tr{
					display: table-row;
					vertical-align: inherit;
					border-color: inherit;
					border: 1px solid #ddd;
					max-width: 50%;

					th{
						// table header
						color: #159;
						text-align: center;
						border-right: 1px solid #ddd;
						border-bottom: 3px solid lightgray;
						padding: 3px;
						font-weight: bold;
					}
					&.dark{
						background-color: #eef3f5;
					}
					&.light{
						// background-color: #fff;
					}
					td{
						display: table-cell;
						border-right: 1px solid #ddd;
						border-bottom: 1px solid #ddd;
						padding: 3px;
						&.right{
							text-align: right;
						}
						&.left{
							text-align: left;
						}
						&.center {
							text-align: center;
						}
						&.break{
							word-break: break-all;
						}
						&.helix-cell{
							text-align: center;
							min-width: 30px;
							width: 30px;
							max-width: 30px;
							height: 44px;
						}
						&.blue-title {
							color: #159;
						}
					}
				}
		    }
			
		}
	}
}