.header {
	.header-img {
		max-width: 575px;
		width: 100%;

	}

	// .selected-item {
	// 	color: yellow;
	// 	background-color: #0066cc;
	// 	min-width: 30px;
	// 	padding-top: 3px;
	// 	padding-bottom: 3px;
	// 	padding-left: 12px;
	// 	padding-right: 12px;
	// 	display: inline-block;
	// 	height: 100%;

	// 	// a {
	// 	// 	color: white;
	// 	// 	text-decoration: none;

	// 	// }
	// }
	.nav-bar {
		width: 100%;
		background-color: #0070c0;
		margin: 0;
		min-height: 0;
		min-width: 350px;
		border-radius: 0;

		.nav-bar-item {
			background-color: #0070c0;
			text-align: center;
			color: white;
			min-width: 100px;
			padding: 3px 12px;
			display: inline-block;
			height: 100%;
			border-right: 1px solid black;

			a {
				color: white;
				text-decoration: none;
			}

			&:first-child {
				border-left: 1px solid black;
			}

			&:hover,
			&.selected {
				background-color: #c00001;
			}

			// painful dropdown css
			&.dropdown {
				position: relative;

				&:hover .dropdown-list {
					display: block;
				}

				.dropdown-list {
					display: none;
					position: absolute;
					margin-top: 2px;
					right: 2px;
					z-index: 999;

					.nav-bar-item {
						display: block;
						background-color: #f1f1f1;
						border: 1px solid black;
						height: 100%;
						width: 100%;
						min-width: 141px;

						a {
							color: black;
						}

						&:hover,
						&.selected {
							a {
								color: white;
							}

							background-color: #c00001;
						}

						&.text-only {
							background-color: #0070c0;
						}
					}
				}
			}
		}
	}

}