
.list {
	.expand-item {
		padding-left: .4em;
		padding-right: .4em;
		padding-bottom: .1em;
		cursor: pointer;
		border-radius: .9em;
		background-color: #e6e6e6;
		font-size: .8em;
		font-weight: normal;
		font-style: italic;
		border: 1px solid;

		&:hover {
			background-color: #cccccc;
		}
	}

	.search-section {
	    max-width: 20em;
	    width: 100%;
	    margin-bottom: .5em;
	    margin-left: 1em;
	    float: right;
	}

	.list-data {

	}

	.expand {
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 45%;
		color: #337ab7;
		cursor: pointer;
		font-size: 15px;
		font-weight: bold;

		&:hover {
			text-decoration: underline;
			text-decoration-color: #337ab7 
		}
	}

	.info-loading {
		width: 100%;
		.loading-image {
			margin-left: 45%;
			margin-bottom: 2em;
			width: 10%;
		}
	}

}