.caption {
    border: 1px solid #ddd;
    margin-top: 10px;
    padding: 10px;
    background: #eef3f5;
    text-align: center;
    font: x-small Verdana, Arial, Helvetica, sans-serif;
    max-width: 400px;
}

h2 {
    color: #009900;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 5px;
}
