.opm-align {
    font-size: 24px; /* 24px increased by 50% */
    font-weight: bold;
    margin-bottom: 15px; /* 20px increased by 50% */
}

.loading-image {
    width: 150px; /* 100px increased by 50% */
    height: 150px; /* 100px increased by 50% */
    margin-bottom: 10px;
}

.container {
    max-width: 900px; /* 600px increased by 50% */
    margin: 0 auto;
}

.errors {
    color: red;
}

.form-container {
    margin-bottom: 30px; /* 20px increased by 50% */
}

.form-container label {
    display: block;
    margin-bottom: 7px; /* 5px increased by 50% */
}

.form-container input[type="file"] {
    margin-bottom: 15px; /* 10px increased by 50% */
}

.button-opmalign {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px; /* 10px increased by 50% */
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #0056b3;
}

.results {
    margin-top: 30px; /* 20px increased by 50% */
}

.results a {
    color: #007bff;
    text-decoration: none;
}

.results a:hover {
    text-decoration: underline;
}

.frame-container {
    padding: 30px; /* Add padding as needed */
}

label[for='pdb-list'] {
    font-size: 20px; /* Adjust the font size as needed */
    /* Add any other styles you want to apply to the label */
}

.progress-bar {
    width: 25%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
}

.progress {
    height: 100%;
    background-color: #007bff;
}

//-----------------//

.align-table {
    padding: 15px;

    .fold-introduction > h1 {
        color: #0066cc;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .server-header {
        padding: 0px;
        color: #0066cc;
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 10px;
        border-bottom: 3px solid #0066cc;
    }

    .table-form {
        margin-top: 20px;
        width: 100%;
        max-width: 500px;
        border: 1px solid #dddddd;

        .dark {
            background-color: #eef3f5;
        }

        thead {
            padding: 10px;
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 15px;
            line-height: 1.6em;
            color: #115599;
            border-bottom: 3px solid #999999;
            @extend .dark;
        }

        tbody {
            td {
                border: 1px solid #dddddd;
                padding: 5px;
            }

            // select labels column
            td:nth-child(1) {
                width: 85%;
            }

            td:nth-child(2) {
                width: 90%;
                .narrow-input {
                    width: 60px;
                }
            }

        }
    }

    .error {
        padding-top: 10px;
        color: red;
    }
}
