.ppm-disambiguation {
    padding: 15px;

    h1 {
        padding: 0px;
        color: #0066cc;
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 10px;
        border-bottom: 3px solid #0066cc;
    }

    h2 {
        color: #06c;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    button {
        margin-bottom: 5px;
    }

    a button {
        color: revert; // change blue to black
    }
}
