.classification{
	padding: 15px;

	.page-header {
		padding: 0px;
	    color: #0066cc;
	    font-size: 22px;
	    line-height: 28px;
	    font-weight: bold;
	    margin-top: 0;
	    margin-bottom: 10px;
	    border-bottom: 3px solid #0066cc;
	}

	.info-loading {
		width: 100%;
		.loading-image {
			margin-left: 45%;
			width: 10%;
		}
	}

	.list-section {
		margin-top: 20px;

		.list-header {
			color: #009900;
		    font-size: 15px;
		    font-weight: bold;
		    margin-bottom: 6px;
		}
	}

	.table-section {
		margin-top: 30px;
	}
}