.ppm3-instructions-paragraphs {
    text-align: left;

    h1 {
        color: #000066;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }

    table {
        margin-top: 10px;
        margin-bottom: 10px;

        th, td {
            padding: 2px;
            border-right: 1px solid #ddd;
        }

        thead {
            border-bottom: 1px solid #ddd;
        }

        th:last-child, td:last-child {
            border-right: none;
        }

        th:nth-child(2), th:nth-child(3),
        td:nth-child(2), td:nth-child(3) {
            text-align: right;
        }
    }

    .paragraphs {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}
