.ppm-server3 {
    padding: 15px;

    .server-header {
        padding: 0px;
        color: #0066cc;
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
        border-bottom: 3px solid #0066cc;
    }

    .ppm3-introduction {
        h1 {
            color: #06c;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }

    .table-form {
        margin-top: 20px;
        width: 100%;
        max-width: 800px;
        border: 1px solid #ddd;

        .dark {
            background-color: #eef3f5;
        }

        .table-header {
            padding: 10px;
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 15px;
            line-height: 1.6em;
            color: #159;
            border-bottom: 3px solid #999;
            @extend .dark;
        }

        .radios {
            .num_membranes, .heteroatoms {
                padding: 10px;
                width: 50%;
                text-align: center;
                border: 1px solid #ddd;
                font-size: 12px;
            }

            .heteroatoms {
                @extend .dark;
            }

            .membrane {
                display: grid;
                row-gap: 5px;
                grid-template-columns: 1fr 1fr;
                border: 1px solid #ddd;
                padding: 10px;
                align-items: center;
                @extend .dark;

                .membrane-bold {
                    font-weight: bold;
                }

                .membrane-wide {
                    grid-column: 1 / 3;
                    text-align: center;
                }

                .membrane-header {
                    @extend .membrane-bold;
                    @extend .membrane-wide;
                    margin-bottom: 5px;
                }

                select {
                    width: 100%;
                }

                label {
                    margin-left: 4px;
                    margin-right: 4px;
                }
            }
        }

        .file {
            padding: 10px;
            text-align: center;
            border: 1px solid #ddd;
            font-size: 12px;

            .file-upload {
                display: inline
            }
        }

        .instructions {
            padding: 10px;
            text-align: center;
            border: 1px solid #ddd;
            font-size: 12px;

            .email-input-div {
                width: 100%;
                text-align: center;
                padding-bottom: 5px;
                padding-left: 50%;
                margin-left: -10em;
                .email-input {
                    width: 20em;
                }
            }

            .helper {
                width: 100%;
                text-align: center;
                padding-bottom: 5px;
            }

            .submit-button {
                cursor: pointer;
                margin: 5px;
            }

            .disabled-button {
                cursor: not-allowed;
                margin: 5px;
            }
        }
    }

    .expand-link {
        color: #337ab7;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .bottom-buttons {
        text-align: center;

        button {
            margin: 5px;
        }

        a button {
            color: revert; // change blue to black
        }
    }
}
.info-loading {
    width: 100%;
    height: 100%;
    .loading-image {
        margin-top: 5%;
        margin-left: 35%;
        width: 20%;
    }
}
