.instructions-paragraphs {
	text-align: left;

	h1 {
		color: #000066;
	    font-size: 18px;
	    line-height: 14px;
	    font-weight: bold;
	    margin-bottom: 10px;
        text-align: center;
	}
}
