.ppm-server{
	padding: 15px;

	.ppm-frame {
		width: 100%;
		height: 600px;
	}

	.server-header {
		padding: 0px;
	    color: #0066cc;
	    font-size: 22px;
	    line-height: 28px;
	    font-weight: bold;
	    margin-top: 0;
	    margin-bottom: 10px;
	    border-bottom: 3px solid #0066cc;
	}

    .ppm-introduction {
        h1 {
            color: #06c;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }

	.use-cgopm-server {
		padding-top: 12px;
		font-size: 1.1em;
	}

	.table-form {
		margin-top: 20px;
		width: 100%;
		max-width: 800px;
		border: 1px solid #ddd;
		.table-header {
			padding: 10px;
			width: 100%;
			text-align: center;
			font-weight: bold;
			font-size: 15px;
			line-height: 1.6em;
			color: #159;
			border-bottom: 3px solid #999;
			background-color: #eef3f5;
		}

		.radios {
			.topology, .heteroatoms {
				padding: 10px;
				width: 50%;
				text-align: center;
				border: 1px solid #ddd;
				font-size: 12px;
			}
		} 

		.file {
			padding: 10px;
			text-align: center;
			border: 1px solid #ddd;
			background-color: #eef3f5;
			font-size: 12px;

			.file-upload {
				display: inline
			}
		}

		.instructions {
			padding: 10px;
			text-align: center;
			border: 1px solid #ddd;
			background-color: #eef3f5;
			font-size: 12px;

			.email-input-div {
				width: 100%;
				text-align: center;
				padding-bottom: 5px;
				padding-left: 50%;
				margin-left: -10em;
				.email-input {
					width: 20em;
				}
			}

			.helper {
				width: 100%;
				text-align: center;
				padding-bottom: 5px;
			}

			.submit-button {
				cursor: pointer; 
                margin: 5px;
			}
			.disabled-button {
				cursor: not-allowed; 
                margin: 5px;
			}
		}
	}

	.expand-link {
		color: #337ab7;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

    .bottom-buttons {
        text-align: center;

        button {
            margin: 5px;
        }

        a button {
            color: revert; // change blue to black
        }
    }
}
.info-loading {
	width: 100%;
	height: 100%;
	.loading-image {
		margin-top: 5%;
		margin-left: 35%;
		width: 20%;
	}
}
