.contact {
	padding: 15px;

	.centered {
		text-align: center;
	}

	.body-header {
		padding: 0px;
		color: #009900;
	    font-size: 16px;
	    font-weight: bold;
	    margin-bottom: 10px;
	    text-align: center;
	    width: 100%;
	}
	.contact-sect {
		margin-bottom: 1em;
		.contact-img {
			margin-bottom: 1em;
		}

		.contact-info {
			margin-bottom: 0;
			margin-top: .1em;
		}
	}
}

