.list-item {
	.expand-item {
		padding-left: .4em;
		padding-right: .4em;
		padding-bottom: .1em;
		cursor: pointer;
		border-radius: .9em;
		background-color: #e6e6e6;
		font-size: .8em;
		font-weight: normal;
		font-style: italic;
		border: 1px solid;

		&:hover {
			background-color: #cccccc;
		}
	}

	.small-loader {
		display: inline-block;
		height: 1em;
		overflow: hidden;
		width: 1.5em;
		position: relative;
		img {
			position: absolute;
			top: -1.1em;
			left: -2em;
			overflow: hidden;
			width: 5em;
		}
	}
}