.glmol {
    height: 100%;
  

    &.glmol-assembly {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    td, th {
        text-align: center;
    }

    #glmol, #glmol_complex {
        background-color: lightgray;
        margin: 0 auto;
    }

    .molcontainer {
        width: 56%;
        min-width: 500px;
        margin: 0 auto;
    }

    .molheader {
        text-align: center;
    }    

    .info-loading {
        width: 42%;
    }

    .molfooter {
        background-color: #F0F5F6; 
        border: solid 1px #E1E1E1; 
        margin-bottom: 10px; 
        color: #115FA3;
        margin: 0 auto;
    }

    #model_number {
        font-family: monospace;
    }

    .sequence {
        text-align: center; 
        letter-spacing: 4px; 
        font-family: monospace;
    }

    #glmol_src, #glmol_complex_src {
        display: none;
    }

    .glmol-tr {
        border: 1px solid #E1E1E1;
        height: 30px;
        margin: 0px;
        padding: 0px;
        padding-left: 10px;
        td {
            padding-left: 10px;
            vertical-align: center;
            line-height: 30px;
        }

        &:hover {
            cursor: pointer;
            background-color: #E1E1E1;
        }
        &.selected {
            background-color: #E1E1E1;
        }
    }

    .remarks-table-container {
        width: 42%;
        text-align: center;
    }

    .remarks-table {
        border-collapse:collapse;
        border: 1px solid #E1E1E1;
        width: 100%;
        min-width: 365px;

        thead {
            border-bottom: 3px solid #A3A3A3;

            tr {
                background-color: #F0F5F6;
                color: #115FA3;
                text-align: left; 
                height: 30px;
                margin: 0px;
                padding: 0px;

                td {
                    margin: 0px;
                    padding: 0px;
                    padding-left: 10px;
                }
            }
        }
    }

    .view-controller {
        padding: 5px;
        padding-left: 10px;
        width: 100%;
        text-align: center;
    }

}