.about {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    min-width: 250px;
    .go-to-top {
        position: absolute;
        right: 20px;
    }

    .nav-panel {
        z-index: 100;
        width: 30%;
        min-width: 150px;
        min-height: 50px;

        border: 4px solid #06c;
        float: right;

        hr {
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            width: 95%;
            border: 0.5px solid grey;
        }
        a {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 1px;
            padding-bottom: 1px;
            font-size: 1em;
            display: block;
            &:hover {
                background-color: #c9d6e6;
                // background-color: rgba(0,0,0,0.25);
                text-decoration: none;
            }
        }
    }
}

.normal-info-page {
    h1 {
        color: #0066cc;
        font-size: 20px;
        line-height: 28px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0px;
    }

    hr {
        margin-top: 0;
        margin-bottom: 10px;
        padding: 0;
        border: 1.5px solid #0066cc;
    }
}
