.protein{
	padding: 15px;
	width: 100%;

    .top-grid {
        display: flex;
        justify-content: space-between;
    }

	.link {
		color: #0066cc;
		cursor: pointer;
		&:hover {
			color: #23527c;
			text-decoration: underline;
		}

		&.expand-link {
			font-weight: normal;
			font-style: italic;
		}
	}

	.go-back {
		width: 100%;
		text-align: center;
		margin-top: 10px;

		span {
			color: #0066cc;
			cursor: pointer;
			&:hover {
				color: #23527c;
				text-decoration: underline;
			}
		}
	}

	.bold{
		font-weight: bold;
	}

	.page-header {
		padding: 0px;
	    color: #0066cc;
	    font-size: 20px;
	    font-family: Verdana-Bold;
	    line-height: 25px;
	    margin-top: 0;
	    margin-bottom: 10px;
	    border-bottom: 3px solid #0066cc;
	}

	.protein-info {
		width: 100%;
	}

	.random-protein {
		padding-bottom: 10px;
		padding-left: 25px;
		padding-right: 25px;
		text-align: center;
		width: 400px;
		max-width: 100%;

		.jmol-viewer {
			padding-top: 10px;
		}

		.topology-section {
			width: 100%;
			overflow: auto;
			margin-top: 1em;
			padding: .5em;
			border: 1px solid #ddd;
			background-color: #eef3f5;

			.topology-header {
				font-size: 12px;
				font-style: italic;
				color: green;
				margin-bottom: 1em;
			}

			table {
				margin: 0 auto;

				.topology-info {
					text-align: left;
					padding-left: 5px;

					&.out {
						color: #ff0000;
					}

					&.in {
						color: #0099ff;
					}
				}
			}
		}
	}

	.info-table {
        display: inline-block;

		&.full{
			width: 100%;
		}

		@media print {
			width: 45%;
		}

		table {
			display: table;
    		border-collapse: separate;
    		font-size: 11px;
			width: 100%;
		    margin-top: 20px;
		    margin-bottom: 20px;
		    vertical-align: top;
		    border-left: 1px solid #ddd;
			border-top: 1px solid #ddd;
            max-width: 100% !important;

            thead, tbody tr:nth-child(2n) {
                background-color: #eef3f5;
            }

            thead, tbody {
                display: table-row-group;
                vertical-align: middle;
            }

            tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                border: 1px solid #ddd;
                max-width: 50%;
            }

            thead {
                th, a {
                    color: #159;
                }

                th {
                    // table header
                    text-align: center;
                    border-right: 1px solid #ddd;
                    border-bottom: 3px solid lightgray;
                    padding: 3px;
                    font-weight: bold;
                }
            }

		    tbody {
                td {
                    display: table-cell;
                    border-right: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    padding: 3px;

                    &.right {
                        text-align: right;
                        // all one line but take up min space
                        white-space: nowrap;
                        width: 0%;
                    }

                    &.left {
                        text-align: left;
                    }

                    &.center {
                        text-align: center;
                        padding: 0 20px;
                    }

                    &.break {
                        word-break: break-all;
                    }
                }
		    }
		}
	}
}

.info-loading {
	width: 100%;
	height: 100%;
	.loading-image {
		margin-top: 5%;
		margin-left: 35%;
		width: 20%;
	}
}
