.download{
	small{
		display: none !important;
		opacity: 0 !important;
	}

	h2.title{
		margin-bottom: 20px !important;
	}
	.tab-header{
		margin-right: 20px;
		margin-left: 20px;
	}
	.info {
		margin: 25px 0 !important;
	}

	.log-file {
		padding-left: 20px;
		padding-top: 20px;
		font-weight: bold;
	}

	.download-file {
		padding-left: 20px;
		font-weight: bold;
		.file-list {
			
			list-style-type: none;
			padding-left: 10px;
			margin: 0;
		}
	}
}