.biological-description {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    min-width: 250px;
    .centered {
        display: block;
    }

    .page-nav {
        float: left;
        width: 40%;
    }

    .cell-anatomy-img {
        width: 34%;
    }
    .cell-membrane-img {
        width: 60%;
    }
    .endoplasmic-reticulum-img {
        width: 30%;
    }
    .golgi-img {
        width: 24%;
    }
    .golgi-img2 {
        width: 40%;
    }
    .golgi-img_PeroxisomalMembrane{
        width:18%;
    }
    .golgi-img_nuclear1{
        width:23%;
    }
    .golgi-img-mitochondria1{
        width:30%;
    }
    .archaebacteria-img {
        width: 23%;
        img {
            width: 100%;
        }
    }

    .references {
        margin-top: 50px;
        li {
            font-size: 12px;
            line-height: 1.35em;
            padding-bottom: 5px;
        }
    }
}