.references-table {
    font-size: 12px;

    h1 {
        font-size: 13.5px;
    }

    th,
    td {
        padding: 5px;
        border: 1px solid black;
    }

    th {
        text-align: center;
        font-weight: bolder;
        font-size: 14px;
    }

}