.advanced-search {
	width: 100%;
	padding: 5px;

	.inputs-area {
		margin: 8px 8px 0 8px;
		padding: 10px;
		background-color: #eef3f5;
		border-radius: 6px;
	}
}

// https://www.w3schools.com/css/css_tooltip.asp
// "tooltip" class name conflicts with bootstrap
.my-tooltip {
    position: relative;
    display: inline-block;
}

.my-tooltip .my-tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: -50px;
    left: 105%;
}

.my-tooltip:hover .my-tooltip-text {
    visibility: visible;
}
