.fetch-pdb-info {
	padding: 15px;

	.fetch-pdb-header {
		padding: 0px;
	    color: #0066cc;
	    font-size: 22px;
	    line-height: 28px;
	    font-weight: bold;
	    margin-top: 0;
	    margin-bottom: 10px;
	    border-bottom: 3px solid #0066cc;
	}

	.form {
		border: 1px solid #ddd;
		margin: 10px auto;
		text-align: center;
		background-color: #eef3f5;

		.form-footer {
			margin-bottom: 12px
		}

		.submit-button {
			cursor: pointer; 
		}

	}
}
