.main-content{
}

.green{color: green;}
.italic{font-style: italic;}
.cursor-hand{ cursor: pointer;}
a.external{
    background: url(/images/external.png) center right no-repeat;
    padding-right: 15px;
}

b {
    font-family: Verdana-Bold;
}