.home {
	padding: 15px;

	h1 {
		padding: 0px;
	    color: #0066cc;
	    font-size: 22px;
	    line-height: 28px;
	    font-weight: bold;
	    margin-top: 0;
	    margin-bottom: 10px;
	    border-bottom: 3px solid #0066cc;
	}
	

	i {
		color: green;
	}

	.random-protein {
		float: right;
		padding-bottom: 50px;
		padding-left: 25px;
		max-width: 250px;
		width: 90%;
		.img-style {
			width: 100%;
		}

		.protein-link {
			text-align: center;
		}

	}

	.home-text {

		.indented {
			p {
				text-indent: 15px;
			    padding-bottom: 0px;
			    margin-top: 5px;
			    margin-bottom: 10px;
			}
		}

		.p-header {
			margin: 0;
			padding: 0;
		}

		.questions-box {
			width: 100%;
			margin-top: 2em;
			margin-bottom: 2em;
			border-right-color: #0066cc;
			border-right-width: 0.15em;
			border-right-style: solid;
			border-left-color: #0066cc;
			border-left-width: 0.15em;
			border-left-style: solid;
			border-bottom-color: #0066cc;
			border-bottom-width: 0.15em;
			border-bottom-style: solid;

			.box-header {
				background-color: #0066cc;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				.header-text {
					margin-left: 1em;
					color: white;
				}
			}

			.box-body {
				padding: 10px;

				.info-loading {
					width: 100%;
					.loading-image {
						margin-left: 40%;
						margin-top: 0;
						width: 20%;
					}
				}
			}
		}

	}

	.structure-stats{

		.type-stat{
			p{
				font-weight: 1.4em;
				margin: 0;
				padding: 0;
			}

			.classtype-stat-holder{
				margin-left: 10%;
				.classtype-stat{
					margin: 0;
					padding: 0;

				}
			}
		}
	}
}
