.tmpfold-server {
	padding: 15px;

	.align-left {
		text-align: left;
	}

	.server-header {
		padding: 0px;
	    color: #0066cc;
	    font-size: 22px;
	    line-height: 28px;
	    font-weight: bold;
	    margin-top: 0;
	    margin-bottom: 10px;
	    border-bottom: 3px solid #0066cc;
	}

	.table-form {
		margin-top: 20px;
		width: 100%;
		max-width: 800px;
		border: 1px solid #ddd;
		.table-header {
			padding: 10px;
			width: 100%;
			text-align: center;
			font-weight: bold;
			font-size: 15px;
			line-height: 1.6em;
			color: #159;
			border-bottom: 3px solid #999;
			background-color: #eef3f5;
		}

		.pdb-code-segments {
			width: 100%;
			max-width: 800px;
			word-wrap: break-word;
		}

		.form-search {
			width: 33%;
		}

		.file {
			background-color: #eef3f5;
			font-size: 12px;

			.file-upload {
				display: inline
			}
		}

		.file, .segments {
			padding: 10px;
		}

		.segments {
			border: 1px solid #ddd;
			text-align: center;

			textarea {
				width: 80%;
			}
		}

		.instructions-area {
			padding: 10px;
			text-align: center;
			border: 1px solid #ddd;
			background-color: #eef3f5;
			font-size: 12px;

			.email-input-div {
				width: 100%;
				text-align: center;
				padding-bottom: 5px;
				padding-left: 50%;
				margin-left: -10em;
				.email-input {
					width: 20em;
				}
			}

			.helper {
				width: 100%;
				text-align: center;
				padding-bottom: 5px;
			}
		}
	}

	.expand-link {
		color: #337ab7;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

	.server-footer {
		margin-top: 20px;
	}
}