.protein-lipid {
	padding: 15px;

	.download-link {
		text-align: left;
		margin-top: 5px;
	}

	.lipid-footer-text {
		font-size: 11px;
		margin-top: 20px;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.visualizer-choices {
		margin-left: 7px;
	}

	.composition-table {
		margin-top: 3em;
		margin-bottom: 4em;	
	}

	.info-table {
		width: 55%;
		margin-top: 3.5em;
		margin-bottom: 3.3em;

		&.full{
			width: 100%;
		}

		@media print {
			width: 45%;
		}

		table {
			display: table;
    		border-collapse: separate;
    		font-size: 12px;
			width: 100%;
		    margin-top: 20px;
		    margin-bottom: 20px;
		    vertical-align: top;
		    border-left: 1px solid #ddd;
			border-top: 1px solid #ddd;

		    tbody {
		        display: table-row-group;
    			vertical-align: middle;
    			tr {
					display: table-row;
					vertical-align: inherit;
					border-color: inherit;
					border: 1px solid #ddd;
					max-width: 50%;
					th, a {
						color: #159;
					}
					th {
						// table header
						text-align: center;
						border-right: 1px solid #ddd;
						border-bottom: 3px solid lightgray;
						padding: 3px;
						font-weight: bold;
					}
					&.dark {
						background-color: #eef3f5;
					}
					&.light {
						// background-color: #fff;
					}
					td {
						display: table-cell;
						border-right: 1px solid #ddd;
						border-bottom: 1px solid #ddd;
						padding: 3px;
						&.right {
							text-align: right;
						}
						&.left {
							text-align: left;
						}
						&.center {
							text-align: center;
							padding: 0 20px;
						}
						&.break {
							word-break: break-all;
						}
					} // td
				} // tr
		    } // tbody
		} // table
	} //.info-table


}