.tm-helix-assembly {
    .tm-folds-img {
        margin: 30px auto;
        width: 94%;
        border: 2px solid black;
        padding: 12px;
        img {
            padding-bottom: 10px;
            width: 100%;
        }
    }
}
