.fold {
    padding: 15px;

    .fold-introduction > h1 {
        color: #0066cc;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .server-header {
        padding: 0px;
        color: #0066cc;
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 10px;
        border-bottom: 3px solid #0066cc;
    }

    .table-form {
        margin-top: 20px;
        width: 100%;
        max-width: 1000px;
        border: 1px solid #dddddd;

        .dark {
            background-color: #eef3f5;
        }

        thead {
            padding: 10px;
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 15px;
            line-height: 1.6em;
            color: #115599;
            border-bottom: 3px solid #999999;
            @extend .dark;
        }

        tbody {
            td {
                border: 1px solid #dddddd;
                padding: 5px;
            }

            // select labels column
            td:nth-child(1) {
                width: 33%;
            }

            td:nth-child(2) {
                width: 100%;
            }

            .sequences-input {
                vertical-align: top;
                display: flex;
                flex-direction: column;

                textarea {
                    height: 100px;
                    max-width: 586px;
                }
            }
        }
    }

    .error {
        padding-top: 10px;
        color: red;
    }
}
